// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
    // height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 4px;
    padding-bottom: 4px;
}

.slider-box {
    display: flex;
    flex-direction: column;
    width: 80px;
    padding: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    border: 1px solid white;
    background-color: #111111;
}

.slider {
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    // margin-bottom: 8px;
    // width: 40px;
    // height: 200px;
    -webkit-appearance: slider-vertical;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #aa2504;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #aa2504;
    cursor: pointer;
}

.center-content {
    flex-shrink: 1;
    flex-grow: 1;
}